<% if (theme.duoshuo.enable && page.comments){ %>
<section class="comment">
	<div class="ds-thread" data-thread-key="<%= item.title %>" data-title="<%= item.title %>" 
      data-author-key="<%= theme.duoshuo.short_name %>" data-limit=<%= theme.duoshuo.one_page_comment %>
      data-url="<%= theme.duoshuo.comment_url %><%= item.path %>">
    </div>
</section>
<% } %>
