<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li> <i class="fa fa-qqzone"></i> <a href="http://user.qzone.qq.com/<%=theme.author.qqzone %>" target="_blank"><%= __('qqzone') %></a></li>
      <li><i class="fa fa-github"></i> <a href="https://github.com/<%=theme.author.github %>" target="_blank"><%= __('github') %></a></li>
      <li><i class="fa fa-analytics"></i> <a href="http://sitecenter.baidu.com" target="_blank"><%= __('analytics') %></a></li>
    </ul>
</div>
